@tailwind base;
@tailwind components;
@tailwind utilities;



.shape {
    opacity: 0.5;
    filter: blur(50px);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

#root{
    justify-content: center;
}

